<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
</head>
<body>
	<h1 style="text-align: center;">创建新文件</h1>
	<form action="" method="post" style="width: 700px; margin: 0 auto;">
		<p style="text-align: center;">新文件名：<input type="text" name="filename" style="width:250px;" id="" placeholder="请输入文件名"></p>
		<textarea name="content" id="" style="width: 700px; height: 400px;" placeholder="请输入文件内容"></textarea><br>
		<p style="text-align: center;"><input type="submit" value="创建" class="center">
		<input type="button" value="返回" onclick="history.back()" class="center"></p>
	</form>
</body>
</html>